# Auto detect text files and perform LF normalization
* text=auto
Goku[[:space:]]Transforms[[:space:]]Into[[:space:]]A[[:space:]]Super[[:space:]]Saiyan[[:space:]]For[[:space:]]The[[:space:]]First[[:space:]]Time[[:space:]](HD)[[:space:]]1m16.7s[[:space:]]-[[:space:]]2m51.4s[[:space:]](2om9tJsswKI).mp4 filter=lfs diff=lfs merge=lfs -text
Mood[[:space:]]booster![[:space:]]Cheerful[[:space:]]and[[:space:]]upbeat[[:space:]]music[[:space:]]to[[:space:]]lift[[:space:]]your[[:space:]]spiritInspirational[[:space:]]mood[[:space:]]enhancer[[:space:]]songs[[:space:]](1).mp3 filter=lfs diff=lfs merge=lfs -text
Relaxing[[:space:]]Music[[:space:]]for[[:space:]]Stress[[:space:]]Relief.[[:space:]]Calm[[:space:]]Celtic[[:space:]]Music[[:space:]]for[[:space:]]Meditation[[:space:]]Healing[[:space:]]Therapy[[:space:]]Sleep[[:space:]]Yoga.mp3 filter=lfs diff=lfs merge=lfs -text
